<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<body>
    <nav th:fragment="user-header" th:if="${username != null}">
        <ul></ul>
        <ul>
            <li>
                <details class="dropdown" role="list">
                    <summary aria-haspopup="listbox" role="link"><strong th:text="${username}"></strong></summary>
                    <ul role="listbox">
                        <li><a th:href="@{/settings}">Settings</a></li>
                        <li><a th:href="@{/webauthn/register}">Passkeys</a></li>
                    </ul>
                </details>
            </li>
            <li><a th:href="@{/logout}" role="button">Log out</a></li>
        </ul>
    </nav>
</body>
</html>
